<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock title%}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">My Receipts</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">My Categories</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">My Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create new Receipt</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create new Category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create new Account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>
