{% extends 'base.html' %}

{% block title %}
    Account List
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for i in account_list%}
                <tr>
                    <th>{{i.name}}</th>
                    <th>{{i.number}}</th>
                    <th>{{i.receipts.count}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
