{% extends 'base.html' %}

{% block title %}
    Hello!!
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for i in receipt_list%}
                <tr>
                    <th>{{i.vendor}}</th>
                    <th>{{i.total}}</th>
                    <th>{{i.tax}}</th>
                    <th>{{i.date|date:"m/d/y"}}</th>
                    <th>{{i.category}}</th>
                    <th>{{i.account}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}




